/* global.css */
:root[data-theme="light"] {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-link: #000000;
  --color-link-hover: #333333;
}

:root[data-theme="dark"] {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-link: #ffffff;
  --color-link-hover: #cccccc;
}

body {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
}

main {
  margin-top: 20px;
}
